<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pour dl un fichier</title>
        <link rel="stylesheet" href="/static/design_dl.css">
    </head>
    <body>
        <h1>Téléchargement de votre fichier</h1>
        <div id="downloadForm">
            <input type="password" name="password" placeholder="Entrez le mot de passe" id="mdp">
            <button type="button" id="downloadButton">Télécharger</button>
        </div>
        <div id="dlResponse" class="message"></div>
        <script>
            async function deriveKey(password, salt) {
                // Dérivation de clé PBKDF2
                const enc = new TextEncoder();
                const keyMaterial = await window.crypto.subtle.importKey(
                    'raw',
                    enc.encode(password),
                    { name: 'PBKDF2' },
                    false,
                    ['deriveBits', 'deriveKey']
                );

                return await window.crypto.subtle.deriveKey(
                    {
                        name: 'PBKDF2',
                        salt: salt,
                        iterations: 100000,
                        hash: 'SHA-256'
                    },
                    keyMaterial,
                    { name: 'AES-GCM', length: 256 },
                    true,
                    ['encrypt', 'decrypt']
                );
            }
            async function decryptFile(encryptedBlob, password, encryptedFileNameBase64) {
                // Lire le sel et l'IV depuis le début du fichier
                const arrayBuffer = await encryptedBlob.arrayBuffer();
                const salt = new Uint8Array(arrayBuffer.slice(0, 16));
                const iv = new Uint8Array(arrayBuffer.slice(16, 28));
                const encryptedContent = new Uint8Array(arrayBuffer.slice(28));
                const encryptedFileName = Uint8Array.fromBase64(decodeURIComponent(decodeURIComponent(encryptedFileNameBase64)));

                // Dérivation de la clé
                const key = await deriveKey(password, salt);
                // Déchiffrement
                const decryptedContent = await window.crypto.subtle.decrypt(
                    { name: 'AES-GCM', iv: iv },
                    key,
                    encryptedContent
                );
                // Déchiffrement du nom du fichier
                const decryptedFileNameArrayBuffer = await window.crypto.subtle.decrypt(
                    { name: 'AES-GCM', iv: iv },
                    key,
                    encryptedFileName
                );
                const decoder = new TextDecoder();
                const decryptedFileName = decoder.decode(decryptedFileNameArrayBuffer);
                return {decryptedBlob: new Blob([decryptedContent], {type: 'application/octet-stream'}), decryptedFileName: decryptedFileName};
            }

            async function downloadFile() {
                const formData = new FormData();
                const passwordInput = document.getElementById("mdp");
                const filePath = window.location.href.split('/downloadfilelink/', 2)[1].split('/', 1)[0];

                if(!passwordInput.value) {
                    document.getElementById("dlResponse").innerText = "Veuillez entrer un mot de passe.";
                    return;
                }

                formData.append("token", filePath);

                try {
                    const response = await fetch("/downloadfilelink/", {
                        method: "POST",
                        body: formData,
                    });
                    if(response.ok && response.headers.get('Content-Type') === 'application/octet-stream') {
                        const contentDispositionHeader = response.headers.get('Content-Disposition');

                        let fileName = contentDispositionHeader.split('filename*=utf-8\'\'')[1];
                        if(!fileName) {
                            fileName = contentDispositionHeader.split('filename=')[1].split('"')[1];
                        }
                        const blob = await response.blob();
                        // Déchiffrement du fichier
                        const {decryptedBlob, decryptedFileName} = await decryptFile(blob, passwordInput.value, fileName);
                        const blobUrl = window.URL.createObjectURL(decryptedBlob);

                        const link = document.createElement('a');
                        link.href = blobUrl;
                        link.setAttribute('download', `${decryptedFileName}`);
                        document.body.appendChild(link);
                        link.click();
                        link.parentNode.removeChild(link);

                        window.URL.revokeObjectURL(blobUrl);
                        passwordInput.value = '';
                        document.getElementById("dlResponse").innerText = `Fichier téléchargé`;
                    } else {
                        const responseData = await response.json();
                        document.getElementById("dlResponse").innerText = `${responseData.Info} : ${responseData.Error.detail ?? responseData.Error}`;
                    }
                } catch (err) {
                    console.log(err)
                    document.getElementById("dlResponse").innerText = `Erreur de déchiffrement`;
                }
            }
            document.getElementById("mdp").addEventListener("keydown", async (e) => {
                if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
                    await downloadFile();
                }
            });
            document.getElementById("downloadButton").addEventListener("click", async () => {
                await downloadFile();
            });
        </script>
    </body>
    </html>
