<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pour dl un fichier (j'espère)</title>
        <link rel="stylesheet" href="static/design_dl.css">
    </head>
    <body>
        <h1>Téléchargement de votre fichier</h1>
        <form action="/validate-download/" method="POST">
            <input type="hidden" name="filename" value="{filename}">
            <input type="password" name="password" placeholder="Entrez le mot de passe" required>
            <button type="submit">Télécharger</button>
        </form>
    </body>
    </html>