<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stockify</title>
    <link rel="stylesheet" href="/static/design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Bienvenue sur Stockify</h1>
    <h2>Vous pouvez stocker tous vos fichiers important</h2>
    <div id="formForUpload">
        <input type="file" id="fileInput" name="file" oninput="checkFormValidity()">
        <div style="width: 100%;">
            <input type="password" id="mdp" class="formTextField" name="pass" placeholder="Entrez votre mot de passe (obligatoire)" oninput="checkFormValidity()">
            <div class="infoText">8 caractères minimum</div>
        </div>
        <div id="singleUseInput" class="inputWithLabelContainer">
            <input type="checkbox" name="singleUseCheckbox" id="singleUseCheckbox">
            <label for="singleUseCheckbox">Lien à utilisation unique</label>
        </div>
        <div>
            <div id="expirationTimeHoursInput" class="inputWithLabelContainer">
                <label for="expirationTimeHours">Expire dans</label>
                <input type="number" name="expirationTimeHours" id="expirationTimeHours" min="1" max="8760" value="24" oninput="checkFormValidity()">
                <label for="expirationTimeHours">heure(s)</label>
            </div>
            <div class="infoText">Entre 1 heure et 1 an</div>
        </div>
        <input type="email" id="email" class="formTextField" name="email" placeholder="Email de réception du lien (obligatoire)" oninput="checkFormValidity()">
        <button type="button" id="uploadButton" disabled>
            Upload
        </button>
    </div>
    <div id="result"></div>

    <script>
        async function deriveKey(password, salt) {
            // Dérivation de clé PBKDF2
            const enc = new TextEncoder();
            const keyMaterial = await window.crypto.subtle.importKey(
                'raw',
                enc.encode(password),
                { name: 'PBKDF2' },
                false,
                ['deriveBits', 'deriveKey']
            );

            return await window.crypto.subtle.deriveKey(
                {
                    name: 'PBKDF2',
                    salt: salt,
                    iterations: 100000,
                    hash: 'SHA-256'
                },
                keyMaterial,
                { name: 'AES-GCM', length: 256 },
                true,
                ['encrypt', 'decrypt']
            );
        }
        async function encryptFile(file, password) {
            // Dérivation de clé à partir du mot de passe
            const salt = window.crypto.getRandomValues(new Uint8Array(16));
            const key = await deriveKey(password, salt);

            // Conversion du fichier en ArrayBuffer
            const fileArrayBuffer = await file.arrayBuffer();

            // Chiffrement du fichier
            const iv = window.crypto.getRandomValues(new Uint8Array(12));
            const encryptedContent = await window.crypto.subtle.encrypt(
                { name: 'AES-GCM', iv: iv },
                key,
                fileArrayBuffer
            );

            // Chiffrement du nom du fichier
            const encoder = new TextEncoder();
            const fileNameArray = encoder.encode(file.name);
            const encryptedFileName = await window.crypto.subtle.encrypt(
                { name: 'AES-GCM', iv: iv },
                key,
                fileNameArray
            );
            const encryptedFileNameString = btoa(
                String.fromCharCode(...new Uint8Array(encryptedFileName))
            );

            // Préparation des données à envoyer
            return {
                encryptedFile: new Blob([salt, iv, new Uint8Array(encryptedContent)]),
                fileName: encryptedFileNameString,
            };
        }

        function checkFormValidity() {
            let isValid = true;
            const fieldValidator = (isFieldInvalid, htmlElement, displayError) => {
                isValid = isValid && !isFieldInvalid;
                htmlElement.setCustomValidity(displayError && isFieldInvalid ? "Bad Input" : "")
            }
            const fileInput = document.getElementById('fileInput');
            fieldValidator(!fileInput.files[0], fileInput);
            const mdp = document.getElementById('mdp');
            fieldValidator(mdp.value.length < 8, mdp, mdp.value !== '');
            const expirationTimeHours = document.getElementById('expirationTimeHours');
            fieldValidator(isNaN(Number(expirationTimeHours.value))  || Number(expirationTimeHours.value) < 1 || Number(expirationTimeHours.value) > 8760, expirationTimeHours, true)
            const email = document.getElementById('email');
            fieldValidator(!(/^\S+@\S+\.\S+$/.test(email.value)), email, email.value !== '');
            const uploadBtn = document.getElementById('uploadButton');
            uploadBtn.disabled = !isValid;
            return isValid;
        }

        function copyLink() {
            const link = document.getElementById("fileLink");
            navigator.clipboard.writeText(link.href);
            const tooltip = document.getElementById("copyTooltip");
            tooltip.innerHTML = "Lien copié";
        }

        function outFunc() {
            const tooltip = document.getElementById("copyTooltip");
            tooltip.innerHTML = "Lien de téléchargement du fichier";
        }

        async function uploadFile() {
            if(!checkFormValidity()) return;
            const uploadBtn = document.getElementById("uploadButton");
            uploadBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Uploading...`;
            uploadBtn.disabled = true;

            document.getElementById("result").innerHTML = "";

            const fileInput = document.getElementById("fileInput");
            const passwordInput = document.getElementById("mdp");
            if(!fileInput.files[0]) {
                document.getElementById("result").innerText = "Aucun fichier selectionné.";
                return;
            }
            if(!passwordInput.value) {
                document.getElementById("result").innerText = "Veuillez entrer un mot de passe.";
                return;
            }

            try {
                // Chiffrement du fichier avant l'upload
                const { encryptedFile, fileName } = await encryptFile(
                    fileInput.files[0],
                    passwordInput.value
                );
                const formData = new FormData();
                const singleUseCheckbox = document.getElementById("singleUseCheckbox");
                const expirationTimeHours = document.getElementById("expirationTimeHours");
                const emailInput = document.getElementById("email");
                formData.append("file", encryptedFile, fileName);
                formData.append("uniqueLink", singleUseCheckbox.checked ?? false);
                formData.append("mailReceiver", emailInput.value);
                formData.append("expirationTimeHours", expirationTimeHours.value);
                const response = await fetch("/uploadfile/", {
                    method: "POST",
                    body: formData,
                });

                const result = await response.json();
                if(response.ok) {
                    const downloadLink = result["Function Result"]["download link"];
                    document.getElementById("result").innerHTML = `
                        <div>Réussite : <a id="fileLink" href="${downloadLink}" target="_blank">Télécharger le fichier</a></div>
                        <div class="tooltip">
                            <button onclick="copyLink()" onmouseout="outFunc()" id="copyLink">
                              <span class="tooltiptext" id="copyTooltip">Lien de téléchargement du fichier</span>
                              Copier le lien
                            </button>
                        </div>
                    `;
                    fileInput.value = null;
                    passwordInput.value = "";
                    singleUseCheckbox.checked = false;
                    expirationTimeHours.value = 24;
                    emailInput.value = "";
                } else {
                    document.getElementById("result").innerText = `${responseData.Info} : ${responseData.Error.detail ?? responseData.Error}`;
                }
            } catch (err) {
                console.log(err)
                document.getElementById("result").innerText = `Erreur`;
            } finally {
                uploadBtn.innerHTML = `Upload`;
                checkFormValidity();
            }
        }
        document.getElementById("mdp").addEventListener("keydown", async (e) => {
            if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
                await uploadFile();
            }
        });
        document.getElementById("uploadButton").addEventListener("click", async () => {
            await uploadFile();
        });
    </script>
</body>
</html>