<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stockify</title>
    <link rel="stylesheet" href="/static/design.css">
</head>
<body>
    <h1>Bienvenue sur Stockify</h1>
    <h2>Vous pouvez stocker tous vos fichiers important</h2>
    <form id="formForUpload">
        <input type="file" id="fileInput" name="file">
        <input type="password" id="mdp" name="pass" placeholder="Entrez votre mot de passe" required>
        <button type="button" id="uploadButton">Upload</button>
    </form>
    <div id="result"></div>

    <script>
        document.getElementById("uploadButton").addEventListener("click", async () => {
            const formData = new FormData();
            const fileInput = document.getElementById("fileInput");
            const passwordInput = document.getElementById("mdp");

            if(!fileInput.files[0]) {
                document.getElementById("result").innerText = "Aucun fichier selectionné.";
                return;
            }

            if(!passwordInput.value) {
                document.getElementById("result").innerText = "Veuillez entrer un mot de passe.";
                return;
            }

            formData.append("file", fileInput.files[0]);
            formData.append("password", passwordInput.value);

            try {
                const response = await fetch("/uploadfile/", {
                    method: "POST",
                    body: formData,
                });

                const result = await response.json();
                if(response.ok) {
                    const downloadLink = result["Function Result"]["download link"];
                    document.getElementById("result").innerHTML = `Réussite : <a href="${downloadLink}" target="_blank">Télécharger le fichier</a>`;
                } else {
                    document.getElementById("result").innerText = `Échec : ${result.Info}`;
                }
            } catch (err) {
                console.log(err)
                document.getElementById("result").innerText = `Erreur`;
            }
        });
    </script>
</body>
</html>